/* All */

* {
    font-family: sans-serif;
}

/* title */
.titleMain {
    text-align: center;
    font-size: xxx-large;
    color: rgb(98, 137, 204)
}

.projekt1Title {
    display: block;
    color: white;
    text-align: center;
}

.projekt2Title {
    display: block;
    color: white;
    text-align: center;
}


/* body */

body {
    display: inline-flexbox;
    flex-grow: 1;

    margin: 0;
    padding: 0;

    background-color: rgba(54, 61, 74)
}

/* navBar */

.navDiv {}


.navBarList {

    display: flex;


    text-align: center;
    justify-content: center;

    width: 100%;


    list-style: none;
    overflow: hidden;


    margin: 0;
    padding: 0;


    color: white;
    background-color: rgb(81, 91, 110)
}

.navBarProjectsP_1 {

    max-width: 10%;
    flex-grow: 1;

    border-left: 2px solid rgba(54, 61, 74);
    border-right: 2px solid rgba(54, 61, 74);

    float: left;

    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    background-color: rgb(81, 91, 110);
    font-size: large;
}

.navBarProjectsP_1:hover {

    background-color: rgb(96, 108, 131);
    cursor: pointer;

}

.navBarProjectsP {


    max-width: 10%;
    flex-grow: 1;

    border-right: 2px solid rgba(54, 61, 74);

    float: left;


    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    background-color: rgb(81, 91, 110);
    font-size: large;

}

.navBarProjectsP:hover {

    background-color: rgb(96, 108, 131);
    cursor: pointer;

}