/* All */

* {
    font-family: sans-serif;
}

/* title */
.titleMain {
    text-align: center;
    font-size: xxx-large;
    color: rgb(168, 187, 219)
}

.projekt1Title {
    display: block;
    color: white;
    text-align: center;
}

.projekt2Title {
    display: block;
    color: white;
    text-align: center;
}


/* body */

body {
    display: block;

    flex-grow: 1;

    margin: 0;
    padding: 0;

    background-color: rgb(47, 50, 56)
}

/* navBar */

/* .navDiv {} */


.navBarList {

    display: flex;
    

    text-align: center;
    justify-content: center;

    width: 100%;


    list-style: none;
    overflow: hidden;


    margin: 0;
    padding: 0;


    color: white;
    background-color: rgb(143, 153, 171);
    /* background-color: rgb(109, 117, 130) */
}

.navBarProjectsP_1 {

    min-width:min-content;
    max-width: 8%;

    flex-grow: 1;

    border-left: 2px solid rgba(54, 61, 74);
    border-right: 2px solid rgba(54, 61, 74);

    float: left;

    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    background-color: rgb(109, 117, 130);
    /* background-color: rgb(143, 153, 171); */
    font-size: large;
}

.navBarProjectsP_1:hover {

    background-color: rgb(129, 138, 156);
    cursor: pointer;

}

.navBarProjectsP {


    max-width: 10%;
    flex-grow: 1;

    border-right: 2px solid rgba(54, 61, 74);

    float: left;


    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    background-color: rgb(81, 91, 110);
    font-size: large;

}

.navBarProjectsP:hover {

    background-color: rgb(96, 108, 131);
    cursor: pointer;

}


/* Content - Showcase Video */

.videoProjekt1{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border: 2px solid white;
}

/* Content - imgGallery */
.imgGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.galleryItem{
    border: 2px solid white;
    width: 50%;
    height: 200px;
    margin: auto;
    border-top: 0px;
}
.imagesGallery{
    border-right: solid 2px white;
}
.imagesGallery:hover{
    cursor: pointer;
}